@font-face {
    font-family: 'Kanit Bold';
    src: url(/fonts/ProtestGuerrilla-Regular.ttf);
}

@font-face {
    font-family: 'Kanit Regular';
    src: url(/fonts/Kanit-Regular.ttf);
}

* {
    font-family: 'Kanit Regular';
}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #A1DD70;
}

.navbar-brand {
    font-family: 'Kanit Bold';
    color: #EE4E4E;
    transition: color .3s ease-in-out;
}

.navbar-brand:hover {
    color: #a03434;
}

ul {
    width: 100%;
}

.nav-item {
    margin-right: 15px;
    position: relative;
    font-size: 16px;
}

#active {
    color:#EE4E4E;
}

section {
    display: flex;
    flex-grow: 1;
}

img {
    filter: drop-shadow(10px 12px 3px grey);
    padding: 20px;
}

.title {
    font-family: "Kanit Bold";
    color: #1a1a1a;
}

.description {
    font-size: 18px;
    color: #1a1a1a;
}

.navbar-toggler {
    outline: 0;
    border: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.tangina {
    /* color: white; */
    background-color: #A1DD70;
}

.colorputi {
    color: #cccaca;
}

.colorputi:hover {
    color: #EE4E4E;
}
.tangina:hover {
    background-color: #EE4E4E;
}


header {
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603));
    color : rgb(190, 176, 176);
    font-weight: bold;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit Bold';
}

.btn {
    color:#EE4E4E;
}

.puwa {
    color:#EE4E4E;
    font-family: 'Kanit Bold';
}

.s {
    opacity: 0;
    transform: translateX(-30px);
    transition:opacity 1s ease-in-out, transform 1s ease-in-out;
}

.s.putangina {
    opacity: 1;
    transform: translateX(0px);
}