@font-face {
    font-family: 'Kanit Bold';
    src: url(/fonts/ProtestGuerrilla-Regular.ttf);
}

@font-face {
    font-family: 'Kanit Regular';
    src: url(/fonts/Kanit-Regular.ttf);
}

* {
    font-family: 'Kanit Regular';
}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #A1DD70;
}

.navbar-brand {
    font-family: 'Kanit Bold';
    color: #EE4E4E;
    transition: color .3s ease-in-out;
}

.navbar-brand:hover {
    color: #a03434;
}

ul {
    width: 100%;
}

.nav-item {
    margin-right: 15px;
    position: relative;
    font-size: 16px;
}

#active {
    color:#EE4E4E;
}

section {
    display: flex;
    flex-grow: 1;
}

img {
    filter: drop-shadow(10px 12px 3px grey);
    padding: 20px;
}

.title {
    font-family: "Kanit Bold";
    color: #1a1a1a;
}

.description {
    font-size: 18px;
    color: #1a1a1a;
}

.navbar-toggler {
    outline: 0;
    border: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.tangina {
    /* color: white; */
    background-color: #A1DD70;
}

.colorputi {
    color: #cccaca;
}

.colorputi:hover {
    color: #EE4E4E;
}
.tangina:hover {
    background-color: #EE4E4E;
}

.button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #d47272;
    box-shadow: #d47272 0 0 8px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .button:hover {
    letter-spacing: 3px;
    background-color: #EE4E4E;
    color: hsl(0, 0%, 100%);
    box-shadow: #d47272 0px 7px 29px 0px;
  }
  
  .button:active {
    letter-spacing: 3px;
    background-color: #a02323;
    color: hsl(0, 0%, 100%);
    box-shadow: #d47272 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

  .button, .title, .description {
    /* opacity: 0; */
}

.home-img {
        opacity: 0;
        transition: rotate 0.5s ease-in-out
    }

.mainimg:hover{
        rotate: -15deg;
    }

    .title, .description, .button, .img{
        opacity: 0;
        transform: translateX(-20px);
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }

    .img {
        opacity: 0;
        transform: translate(20px,-100px);
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }


    .title.negrow, .description.negrow, .button.negrow {
        transform: scale(1);
        opacity: 1;
    }

    .img.negrow {
        opacity: 1;
        transform: translate(0px,0px);
    }